.navbar{
    color: darkolivegreen;
    background: cornsilk;  
    font-weight: 700;
}

.navbar-brand{
    font-size: 2.5rem;
}

.navbar-toggler-icon{
    color: #007bff;
}

.container-fluid{
    padding-bottom: 70px;
    margin: auto;
    background: cornsilk;
}

.th1{
    margin: auto;
    padding: 3rem 1rem 3rem;
    color: darkkhaki;
    font-size: 3rem;
    text-align: center;
}

p{
    margin: auto;
    padding: 0 1rem 0;
}
.img1{
    margin-top: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}
/*.btn{
    margin-left: 200px;
}*/
.part-1{
    padding-top: 2rem;
    justify-content: center;
    margin: auto;
}
.footer{
    background: darkkhaki;
    margin: none;
    padding: 1.6% 5%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.fa{
    margin:15px 10px;
}